body {
  margin: 0;
  background: black;
  font-family: Arial, sans-serif;
}

.app-container {
  padding: 40px;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 72px;
  margin: 0;
}

.header p {
  color: gray;
  font-size: 22px;
}

.connect-btn {
  background: #00dd66;
  border: none;
  padding: 18px 40px;
  border-radius: 14px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.stock-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.stock-card {
  background: #04164a;
  padding: 25px;
  border-radius: 20px;
}

.stock-card h1 {
  font-size: 64px;
}

.positive {
  color: #00ff99;
  font-weight: bold;
}

.negative {
  color: #ff5555;
  font-weight: bold;
}

.trading-panel {
  margin-top: 40px;
  background: #071a52;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.trade-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buy-btn {
  background: #00dd66;
  color: white;
  border: none;
  padding: 18px 35px;
  border-radius: 14px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.sell-btn {
  background: #ff3333;
  color: white;
  border: none;
  padding: 18px 35px;
  border-radius: 14px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.chart-container {
  margin-top: 40px;
  background: #0a1f5c;
  border-radius: 20px;
  padding: 20px;
}

.history-panel {
  margin-top: 40px;
  background: #071a52;
  padding: 25px;
  border-radius: 20px;
}

.trade-item {
  display: flex;
  justify-content: space-between;
  background: #0b225f;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}